<?xml version="1.0"?>
<robot name="strawberry_plant">
  <!-- 基座 -->
  <link name="ridge">
    <visual>
      <material name="brown">
        <color rgba="0.545 0.271 0.075 1"/>
      </material>
      <origin xyz="0.0355 -0.25279 -0.28295"/> <!-- 根据缩放调整位置 -->
      <geometry>
        <mesh filename="first_straw_ridge.stl" scale="0.05 0.05 0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0355 -0.25279 -0.28295"/> <!-- 根据缩放调整位置 -->
      <geometry>
        <mesh filename="first_straw_ridge.stl" scale="0.05 0.05 0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100.0"/>
      <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
    </inertial>
  </link>

</robot>